    <nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				  <a class="navbar-brand" onclick="location.href='/';">Books</a>
				</div>
				
				<div class="dropdown" id="dropdownM" style="float:left">
				  <button type="button" id="Genre" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Search by Genre <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="/search?genre=Action">Action</a></li>
					<li><a href="/search?genre=Comedy">Comedy</a></li>
					<li><a href="/search?genre=Fantasy">Fantasy</a></li>
					<li><a href="/search?genre=Fiction">Fiction</a></li>
					<li><a href="/search?genre=Mystery">Mystery</a></li>
					<li><a href="/search?genre=Romance">Romance</a></li>
					<li><a href="/search?genre=Science Fiction">Science Fiction</a></li>
					<li><a href="/search?genre=Thriller">Thriller</a></li>
				  </ul>
				</div>
				
				<form class="navbar-form" role="search" style="float:left" action="/search" method="GET">
				  <div class="form-group">
					<input type="text" class="form-control" size="50" name="name" placeholder="Enter Book Title or Author's Name">
                    <input type="hidden" name="page" value="1">
				  </div>
				  
				  <button type="submit" class="btn btn-default">
					<span class="glyphicon glyphicon-search"></span>Search
				  </button>
				</form>
				
				<div style="float:right">
					<% if(state=='loggedOut'){ %>
					    <button type="button" class="btn btn-default navbar-btn" onclick="location.href='/login';">Log In</button>
					    <button type="button" class="btn btn-default navbar-btn" onclick="location.href='/signup';">Sign up</button>
				    <% }else if(state=='loggedIn'){ %>
                        <button type="button" class="btn btn-default navbar-btn" onclick="location.href='/profile';">Profile</button>
					    <button type="button" class="btn btn-default navbar-btn" onclick="location.href='/signout';">Log Out</button>
					    <button type="button" class="btn btn-default navbar-btn">
						    <span class="glyphicon glyphicon-shopping-cart"></span>Cart
					    </button>
				    <% } %>
				</div>
			</div>
		</nav>